In [2]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
sample = pd.read_csv('E:/Suva Projects/Python Assessment 1/DS_DT-TRAIN_STD.csv')

In [4]:
sample.head()

   X2  X3  X4  X6  X7  X8  X9  X10  X11  Y
0   2   1   2   1   2   2   2    2    2  1
1   1   2   1  -2  -2  -2  -2   -2   -1  0
2   1   2   2   1   2   0   0    0    0  0
3   1   3   1   0   0   0   0    0   -1  1
4   1   1   2   1  -2  -2  -2   -2   -2  1

In [5]:
X = sample[['X2','X3','X4','X6','X7','X8','X9','X10','X11']]
y = sample [['Y']]

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [8]:
knn.fit(X_train,y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [9]:
knn.score(X_test,y_test)

0.808

In [11]:
knn.score(X_train,y_train)

0.8222222222222222

In [10]:
test = pd.read_csv('E:/Suva Projects/Python Assessment 1/test.csv')

In [11]:
test.head()

   X2  X3  X4  X6  X7  X8  X9  X10  X11   Y
0   1   3   2   0   0   0   0   -1   -1 NaN
1   1   1   2   0   0   0  -1   -1   -1 NaN
2   2   1   2   0   0   0   0    0    0 NaN
3   2   1   2  -2  -2  -2  -2   -2   -2 NaN
4   2   3   1   0   0   0   0    0    0 NaN

In [12]:
del test['Y']

In [13]:
test_result = knn.predict(test)

In [14]:
test_result

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [15]:
test_result = pd.DataFrame(test_result)
test_result.to_csv('E:/Suva Projects/Python Assessment 1/test_result_Mine.csv')

In [17]:
knn.fit(test,test_result)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [18]:
knn.score(test,test_result)

0.9796666666666667